.post-card {
  margin: 0 auto 5% auto;
  width: 90%;
  padding: 3%;
}

.title {
  font-size: larger;
}

.subTitle:hover {
  color: #8B008B;
  transition: 1s;
}

.subTitle {
  transition: 1s;
  text-decoration: underline;
}

#likes {
  padding-top: 3%;
  font-style: italic;
}

.profilePicture {
  margin-left: 2%;
  display: block;
}
