#edit-post-page {
  margin: 0 auto;
  width: 50%;
}

.edit-post-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#postError {
  padding: 20px;
}

button {
  display: block;
  margin: 1% auto 1% auto;
}

.deleteVerify {
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
}
