<div class="page-body" id="password-page">
  <form [formGroup]="passwordForm" class="password-form" novalidate>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Current password" formControlName="oldpassword" type = "password">
        <mat-error *ngIf="oldpassword.hasError('required')">
          Current password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="New password" formControlName="newpassword" type = "password">
        <mat-error *ngIf="newpassword.hasError('required')">
          New password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="New password verify" formControlName="newpasswordverify" type = "password">
        <mat-error *ngIf="newpasswordverify.hasError('required')">
          New password verification is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error *ngIf="this.hasError" id="passwordError">
      <strong>Old password is incorrect or new passwords are different!</strong>
    </mat-error>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!passwordForm.valid">Save</button>

  </form>
</div>
