<div class="page-body" id="settings-page">

  <form [formGroup]="settingsForm" class="settings-form" novalidate>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname">
        <mat-error *ngIf="lastname.hasError('required')">
          Lastname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname">
        <mat-error *ngIf="firstname.hasError('required')">
          Firstname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
          E-mail is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Incorrect e-mail!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <mat-select placeholder="Profile picture" formControlName="profilepicture">
          <mat-option *ngFor="let picture of pictures" [value]="picture.value">
            {{ picture.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="profilepicture.hasError('required')">
          Profile picture is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error *ngIf="this.hasError" id="registerError">
      <strong>Invalid data or passwords are different!</strong>
    </mat-error>

    <div class = "pictures">
      <img mat-card-image src = "assets/img/prof1.jpg" class = "profilePicture">
      <img mat-card-image image src = "assets/img/prof2.png" class = "profilePicture">
      <img mat-card-image src = "assets/img/prof3.png" class = "profilePicture">

    </div>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!settingsForm.valid">Save</button>
    <button mat-raised-button class="mat-accent" (click)="changePwd()">Change Password</button>

  </form>
</div>
