#register-page {
  margin: 0 auto;
  width: 50%;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registerError {
  padding: 20px;
}

.form-control {
  margin-bottom: 3%;
}

mat-error {
  padding: 2%;
}

img {
  width: 150px;
}

.profilePicture {
  height: 150px;
  padding: 30px;
}

.pictures {
  margin: auto;
  flex-direction: row;
  align-items: center;
}

iframe {
  margin: auto;
  display: block;
}

input {
  color: wheat;
}
