<div class="page-body" id="register-page">

  <form [formGroup]="registerForm" class="register-form" novalidate>
    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Password verify" formControlName="passwordVerify" type="password">
        <mat-error *ngIf="passwordVerify.hasError('required')">
          Password verify is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname">
        <mat-error *ngIf="lastname.hasError('required')">
          Lastname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname">
        <mat-error *ngIf="firstname.hasError('required')">
          Firstname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
          E-mail is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          E-mail is incorrect!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <mat-select placeholder="Profile picture" formControlName="profilepicture">
          <mat-option *ngFor="let picture of pictures" [value]="picture.value">
            {{ picture.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="profilepicture.hasError('required')">
          Profile picture is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error *ngIf="this.hasError" id="registerError">
      <strong>Invalid register data or passwords are different!</strong>
    </mat-error>

    <div class = "pictures">
      <img mat-card-image *ngIf = "profilepicture.value == pictures[0].value" src = "assets/img/prof1.jpg" class = "profilePicture">
      <img mat-card-image *ngIf = "profilepicture.value == pictures[1].value" image src = "assets/img/prof2.png" class = "profilePicture">
      <img mat-card-image *ngIf = "profilepicture.value == pictures[2].value" src = "assets/img/prof3.png" class = "profilePicture">
      <img mat-card-image *ngIf = "profilepicture.value == pictures[3].value" src = "assets/img/icon.png" class = "profilePicture">
    </div>
    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!registerForm.valid">Register</button>

  </form>
</div>
